.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  color: var(--accent-color);
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 2rem;
  min-height: 100vh;
}

.leftSection {
  width: auto;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px auto; /* Agregado: margin auto */
  border-radius: 20px;
  padding: 20px;
  margin-right: 9%;
}

.rightSection {
  width: 35%;
  height: 80%;
  border-radius: 20px;
  padding: 10px;
  margin-left: 9%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px auto; /* Agregado: margin auto */
}

#cart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.cart h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cartItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.cartItem img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.itemDetails {
  flex-grow: 1;
}

.itemDetails h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.itemDetails p {
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
}

.removeButton {
  background-color: #f44336;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.addButton {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.total h3 {
  font-size: 18px;
  font-weight: 600;
}

.checkoutButton {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.photo-cascade {
  column-count: 3; /* Número de columnas */
  column-gap: 10px; /* Espacio entre columnas */
  overflow: hidden; /* Ocultar contenido que exceda las dimensiones */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.photo-cascade img {
  width: 100%; /* Ajustar el ancho de las imágenes al 100% del contenedor */
  margin-bottom: 10px; /* Espacio entre las imágenes */
}
