.navbarBackground {
  /* background-color: var(--accent-color); */
  background-color: #ececec;
  padding: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 10px;
  color: #ffffff; /* Set the text color to white */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a box shadow */
}

.title {
  margin: 0;
}

.titleBox {
  background-color: var(--accent-color); /* Use the accent color variable */
  padding: 5px 10px;
  display: inline-block;
  border-radius: 10px;
  font-style: italic; /* Make the text italic */
  font-weight: bold; /* Make the text bold */
}

.menu {
  display: flex;
  color: var(--accent-color); /* Use the accent color variable */
}

.menuItem {
  margin-right: 20px;
  font-size: 20px; /* Increase the font size of menu items */
}

.username {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: var(--accent-color); /* Use the accent color variable */
  font-size: 20px; /* Increase the font size of the username */
  font-weight: bold; /* Make the text bold */
}

.avatar {
  width: 80px; /* Increase the width of the avatar image */
  height: 80px; /* Increase the height of the avatar image */
  margin-left: 10px; /* Add margin between the avatar and the username */
  border-radius: 50%; /* Make the image round */
  border: 2px solid var(--accent-color); /* Add a border with the accent color */
}
